:root {
    --nav-height: 100px;
}

nav {
    display: block;
    min-height: var(--nav-height);
    margin: 0;
    padding: 0;
    border-bottom: var(--blue2) 5px solid;
    background-color: white;
}

nav[data-menu-collapsed='false'] {
    border-bottom: var(--light-gray3) 2px solid;

    
}

#site-header {
    min-height: var(--nav-height);
}

#site-title {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(25%);
    margin: 0;
}

#site-title-primary {
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 1.15rem;
    color: var(--blue2);
    text-transform: uppercase;
}

#site-title-secondary {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue2);
}

/* INSIGNIA */
#insignia {
    float: left;
    height: calc(var(--nav-height) - 20px);
    padding: 10px;
}

#insignia img {
    height: 80px;
    width: 80px;
}

/* BUTTONS */
/* Hamburger menu */
#nav-menu-button {
    float: left;
    height: var(--nav-height);
    width: 80px;
}

#nav-menu-button-text {
    transform: translateY(-5px) translateX(1px);
    font-size: 11px;
}

#nav-menu-button:hover {
    background-color: var(--blue3);
}

.nav-menu-button-icon {
    width: 55px;
    height: 55px;
}



/* top links */
#nav-horizontal-menu-list {
    position: relative;
    top: calc(var(--nav-height) / 2);
    transform: translateY(-50%);
    display: inline;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-horizontal-menu-list li {
    display: inline-block;
    padding: 0px 14px;
    margin: 0;
    text-transform: uppercase;
}

#nav-horizontal-menu-list li a {
    text-decoration: none;
    color: var(--blue2);
}

#nav-horizontal-menu-list li a:hover {
    text-decoration: underline;
}

/* Search button */
#nav-search-btn-ctr {
    float: right;
    height: 100%;
    padding: calc(var(--nav-height) / 4);
}

#nav-search {
    height: 50px;
    width: 50px;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: var(--blue3);
}

#nav-search:hover {
    background-color: var(--almostwhite);
    border: none;
}

#nav-search:focus {
    outline: none;
    border: none;
}

#nav-search[aria-expanded='false'] {
    border: 1px solid var(--blue3);
}

#nav-search[aria-expanded='true'] {
    outline: none;
    background-color: var(--blue4);
    -webkit-border-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
}

/* search popup box */
#search-pop-up-box {
    background-color: var(--blue4);
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
}

#search-pop-up-box[aria-expanded='true'] {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 75px;
    border: 15px solid var(--blue4);
}

#search-pop-up-box-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    padding: 12px;
    font-size: 16px;
    margin: 0 12px 0 0
}

#search-pop-up-box-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 16px;
    text-transform: uppercase;
}

#search-pop-up-box-button:hover {
    border: 1px solid var(--almostwhite)
}

#search-pop-up-box-button:active {
    border: 1px solid var(--light-gray3)
}

#search-pop-up-box[aria-expanded='false'] {
    display: none;
}

/* NAVIGATION MENU */
#nav-menu-drawer {
    height: 0px;
    overflow: hidden;
}

#nav-menu-drawer[data-menu-collapsed="false"] {
    height: fit-content;
}


#nav-menu {
    width: 100%;
    border-bottom: 5px solid var(--blue2)
}


.navigation-header {
    padding: 0;
    margin: 0;
    font-family: var(--standard-font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--blue2);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation-header::after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 10px;
    border-bottom: 4px solid var(--rust);
    margin-bottom: 1rem;
}

.nav-menu-column {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    width: 25%;
    padding: 1.5rem 2rem;
}

.nav-secondary-ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.nav-secondary-ul:last-of-type {
    margin: 0;
}

.nav-secondary-ul li {
    padding: 4px 0;
    margin: 0;
    transition: all ease 400ms;
}

.nav-secondary-ul li a {
    /* display: block; */
    text-decoration: none;
    color: var(--darkest-gray);
    font-weight: 500;
}

.nav-secondary-ul li a:hover {
    text-decoration: underline;
}


.nav-primary-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-primary-ul li {
    padding: 0;
    border-bottom: 2px solid var(--light-gray3);
    text-align: center;
    margin: 0;
}

.nav-primary-ul li:last-of-type {
    border: none;
}

.nav-primary-ul li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--darkest-gray);
    font-weight: 700;
}

.nav-primary-ul li a:hover {
    background-color: var(--light-gray3);
}


#focal-nav-menu {
    background-color: var(--almostwhite);
}

/* Compact Menu */
.nav-secondary-ul[aria-expanded="false"] {
    padding: 0;
    margin: 0;
    min-height: 5px;
}

.nav-secondary-ul[aria-expanded="false"] li {
    padding: 0px;
    height: 0ch;
    margin: -10px 0;
    opacity: 0;
    overflow: hidden;
    transition: all ease 400ms;
}

.compact-menu-toggle {
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    border: none;
    font-size: 1rem;
    text-align: left;
}

.compact-menu-toggle:focus {
    outline: none;
}

.compact-menu-toggle:hover, .compact-menu-toggle:focus {
    border: none;
}

.compact-menu-toggle[aria-expanded="false"] {
    background-color: var(--blue3);
}

.compact-menu-toggle[aria-expanded="true"] {
    background-color: var(--blue2);
}

#nav-menu-collapsable-sections {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    padding: 1rem 2rem 0 2rem;
    background-color: white;
}

.icon-right {
    float: right;
}

/* Compact search bar */

#compact-nav-search-input {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(75% - 12px);
    padding: 12px;
    font-size: 16px;
    margin: 0 12px 0 0
}

#compact-nav-search-button {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 16px;
    text-transform: uppercase;
}

#compact-nav-search-button:hover {
    border: 1px solid var(--almostwhite)
}

#compact-nav-search-button:active {
    border: 1px solid var(--light-gray3)
}


@media screen and (max-width: 1250px) {
    #nav-horizontal-menu-list {
        display: none;
    }


    @media screen and (max-width: 992px) {

        #focal-nav-menu {
            width: 40%;
            display: inline-block;
        }

        .nav-secondary-ul:last-of-type {
            margin-bottom: 1rem;
        }

        #nav-menu {
            background-color: var(--almostwhite);
        }

        .nav-secondary-ul li a {
            text-decoration: underline;
        }

        .nav-secondary-ul li a:hover {
            text-decoration: none;
        }

        @media screen and (max-width: 768px) {
            :root {
                --nav-height: 70px;
            }

            /* Hide navbar search, reveal nav menu search */
            #nav-search-btn-ctr {
                display: none;
            }

            #search-pop-up-box {
                display: none;
            }

            #compact-nav-search-input {
                display: inline-block;
            }

            #compact-nav-search-button {
                display: inline-block;
            }

            /* Maintain site title and navbar proportions */
            #site-title {
                transform: translateY(8px);
            }

            #site-title-primary {
                font-size: 16px;
                line-height: 18px;
            }

            #site-title-secondary {
                font-size: 14px;
            }

            #nav-menu-button {
                width: 60px;
            }

            #nav-menu-button-text {
                font-size: 9px;
            }

            .nav-menu-button-icon {
                width: 45px;
                height: 45px;
            }

            #insignia {
                float: left;
                height: calc(var(--nav-height) - 16px);
                padding: 8px;
            }

            #insignia img {
                height: 54px;
                width: 54px;
            }

            #focal-nav-menu {
                width: 100%;
                display: inline-block;
            }

            #nav-menu-collapsable-sections {
                width: 100%;
            }


            @media screen and (max-width: 576px) {
                #site-title {
                    transform: translateY(8px);
                }

                #site-title-primary {
                    font-size: 12px;
                    line-height: 18px;
                }

                #site-title-secondary {
                    font-size: 12px;
                }

                @media screen and (max-width: 425px) {
                    nav {
                        background-color: var(--blue3);
                        background-repeat: no-repeat;
                        background-position: right top;
                        background-size: 50%;
                        background-image: url('/public/images/Group 262.png');
                        border: none;
                    }

                    #site-title {
                        display: inline-block;
                        transform: translateY(20px);
                        margin-left: 8px;
                    }

                    #site-title-primary {
                        color: white;
                        font-size: 13px;
                        line-height: 18px;
                    }

                    #site-title-secondary {
                        display: none;
                    }

                    #insignia {
                        display: none;
                    }

                    @supports (-webkit-touch-callout: none) {
                        .nav-menu-button-icon {

                            transform: translateX(-5px);
                        }
                    }
                }
            }
        }

    }
}