:root {
    --nav-height: 100px;
}

nav {
    display: block;
    min-height: var(--nav-height);
    margin: 0;
    padding: 0;
    border-bottom: var(--blue2) 5px solid;
    background-color: white;
}

#site-header {
    min-height: var(--nav-height);
}

#site-title {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(25%);
    margin: 0;
}

#site-title-primary {
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 1.15rem;
    color: var(--blue2);
    text-transform: uppercase;
}

#site-title-secondary {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue2);
}

/* INSIGNIA */
#insignia {
    float: left;
    height: calc(var(--nav-height) - 20px);
    padding: 10px;
}

#insignia img {
    height: 80px;
    width: 80px;
}

/* BUTTONS */
/* Hamburger menu */
#nav-menu-button {
    float: left;
    height: var(--nav-height);
    width: 80px;
}

#nav-menu-button-text {
    transform: translateY(-5px) translateX(1px);
    font-size: 11px;
}

#nav-menu-button:hover {
    background-color: var(--blue3);
}

.nav-menu-button-icon {
    width: 55px;
    height: 55px;
}

/* top links */
#nav-secondary-menu-list {
    position: relative;
    top: calc(var(--nav-height) / 2);
    transform: translateY(-50%);
    display: inline;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-secondary-menu-list li {
    display: inline-block;
    padding: 0px 14px;
    margin: 0;
    text-transform: uppercase;
}

#nav-secondary-menu-list li a {
    text-decoration: none;
    color: var(--blue2);
}

#nav-secondary-menu-list li a:hover {
    text-decoration: underline;
}

/* Search button */
#nav-search-btn-ctr {
    float: right;
    height: 100%;
    padding: calc(var(--nav-height) / 4);
}

#nav-search {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid var(--blue3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: var(--blue3);
}

#nav-search:hover {
    background-color: var(--almostwhite);
}

/* NAVIGATION MENU */
#nav-menu-drawer {
    height: 0px;
    overflow: hidden;
}

#nav-menu-drawer[data-menu-collapsed="false"] {
    height: fit-content;
    transition: height 1s ease-in;
}


#nav-menu {
    width: 100%;
    border-top: 3px solid var(--light-gray3);
}


.navigation-header {
    padding: 0;
    margin: 0;
    font-family: var(--standard-font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--blue2);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation-header::after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 10px;
    border-bottom: 4px solid var(--rust);
    margin-bottom: 1rem;
}

.nav-menu-column {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    width: 25%;
    padding: 1.5rem 2rem;
}

.nav-secondary-ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
}

.nav-secondary-ul:last-of-type {
    margin: 0;
}

.nav-secondary-ul li {
    padding: 4px 0;
    margin: 0;
}

.nav-secondary-ul li a {
    text-decoration: none;
    color: var(--darkest-gray);
    font-weight: 500;
}

.nav-secondary-ul li a:hover {
    text-decoration: underline;
}


.nav-primary-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-primary-ul li {
    padding: 0;
    border-bottom: 2px solid var(--light-gray3);
    text-align: center;
    margin: 0;
}

.nav-primary-ul li:last-of-type {
    border: none;
}

.nav-primary-ul li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--darkest-gray);
    font-weight: 700;
}

.nav-primary-ul li a:hover {
    background-color: var(--light-gray3);
}

.nav-secondary-ul[aria-expanded="true"] {
    display: none;
}

.hidden {
    display: none;
}


#nav-menu-1 {
    background-color: var(--almostwhite);
}

@media screen and (max-width: 1250px) {
    #nav-secondary-menu-list {
        display: none;
    }


    @media screen and (max-width: 992px) {
        .nav-menu-column {
            display: inline-block;
            width: 33%;
        }

        #nav-menu-1 {
            width: 100%;
        }

        .nav-menu-2 {
            display: inline-block;
            width: 33%;
        }


        @media screen and (max-width: 768px) {
            :root {
                --nav-height: 70px;
            }

            #nav-search-btn-ctr {
                display: none;
            }

            #site-title {
                transform: translateY(8px);
            }

            #site-title-primary {
                font-size: 16px;
                line-height: 18px;
            }

            #site-title-secondary {
                font-size: 14px;
            }

            #nav-menu-button {
                width: 60px;
            }

            #nav-menu-button-text {
                font-size: 9px;
            }

            .nav-menu-button-icon {
                width: 45px;
                height: 45px;
            }

            #insignia {
                float: left;
                height: calc(var(--nav-height) - 16px);
                padding: 8px;
            }

            #insignia img {
                height: 54px;
                width: 54px;
            }


            @media screen and (max-width: 576px) {
                #site-title {
                    transform: translateY(8px);
                }

                #site-title-primary {
                    font-size: 12px;
                    line-height: 18px;
                }

                #site-title-secondary {
                    font-size: 12px;
                }

                @media screen and (max-width: 425px) {
                    nav {
                        background-color: var(--blue3);
                        background-repeat: no-repeat;
                        background-position: right top;
                        background-size: 50%;
                        background-image: url('/public/images/Group 262.png');
                        border: none;
                    }
                    #site-title {
                        display: inline-block;
                        transform: translateY(20px);
                        margin-left: 8px;
                    }
                    
                    #site-title-primary {
                        color: white;
                        font-size: 13px;
                        line-height: 18px;
                    }
    
                    #site-title-secondary {
                        display: none;
                    }

                    #insignia {
                        display: none;
                    }
                }
            }
        }

    }
}

@supports (-webkit-touch-callout: none) {
    .nav-menu-button-icon {

        transform: translateX(-5px);
    } 
  }